body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #58502C;
    font-size: 16px;
    margin: 0px;
}

header {
    max-width: 1150px;
    margin-bottom: 40px;
    border-bottom: 1px solid #00000034;
    display: block;
    margin: auto;
}

#section1 {
    max-width: 1150px;
    margin: 60px auto 100px auto;
    padding: 0 25px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

section#section2 {
    background-color: #FFE7D2;
    padding: 50px 25px;
    margin-top: 60px;
}

section#section2 p {
    text-align: left;
    padding-top: 30px;
}

section#section2 h2 {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#container-section2 {
    display: block;
    margin: auto;
    max-width: 1150px;
}

#imagens-articles {
    display: flex;
    margin: auto;
    flex-direction: row;
    max-width: 1150px;
    vertical-align: middle;
    flex-wrap: wrap;


}

#imagens-articles picture {
    margin: 10px;
    max-width: 100%;
    min-width: 223px;
    vertical-align: middle;
    flex: 1;

}

#imagens-articles picture p {
    text-align: justify;
    padding-top: 10px;
}

#imagens-articles h3 {
    margin-top: 50px;
}

#imagens-articles img {
    max-width: 100%;
}

section#section3 {
    text-align: left;
    max-width: 1150px;
    margin: 25px auto 10px auto;
}

section#section3 h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

section#section3 h3 {
    margin-bottom: 0px;
}

section#section3 ul {
    padding-left: 75px;
}

section#section3 li {
    padding: 5px 25px 0px 0px;
}

section#section3 p {
    padding-top: 20px;
    margin-top: 0px;
}

aside {
    text-align: left;
    max-width: 1150px;
    margin: 0x auto 100px auto;
    display: block;
    margin: auto;
}

aside h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

aside p {
    margin: 0px;
    padding: 15px 25px;
}

p {
    padding-left: 25px;
    padding-right: 25px;
}

h2,
h3 {
    padding-left: 25px;
}

.bloco-info {
    background-color: #FFE7D2;
    margin: 25px 25px;
    padding: 5px 0px 40px 0px;
}

footer {
    text-align: left;
    border-top: 1px solid #ffe7d2;
    margin-top: 70px;
    padding-top: 50px;

}

footer hr {
    margin: 50px 0px;
}

footer p {
    margin: 50px 25px;
    font-size: .8em;
}

footer nav {
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    padding-left: 20px;
    line-height: 1.5em;

}

footer p>a {
    padding: 0px;
}

footer a:hover {
    text-decoration: underline;
}